.icon-eye{
    position: absolute;
    font-size: 24px;
    top: 24%;
    right: 4%;
    color: var(--body-text-color);
    cursor: pointer;
}

.icon-eye-open::before {
    content: "\e900";
    font-family: 'icomoon';
}

.icon-eye-closed::before {
    content: "\e903";
    font-family: 'icomoon';
}