<ng-container>
    <div class="container">
        <table class="table">
            <thead >
                <tr>
                    <th>Community name & address</th>
                    <th>State</th>
                    <th>Supervisor</th>
                    <th>Contact number</th>
                    <th>Safety lock status</th>
                </tr>
            </thead>
            <tbody class="table__body">
                <tr>
                    <td>
                        <p>Gambrill Gardens</p>
                        <p>NJ, Camden, 1605 Whiteman Street  45884</p>
                    </td>
                    <td>
                        Illinois  
                    </td>
                    <td>
                        Allison Septimus
                    </td>
                    <td>
                        245-567-3498
                    </td>
                    <td>Safety Off</td>
                    <td><span class="table_menu__btn"></span></td>
                </tr>
                <tr class="pressed">
                    <td>
                        <p>Gambrill Gardens</p>
                        <p>NJ, Camden, 1605 Whiteman Street  45884</p>
                    </td>
                    <td>
                        Illinois  
                    </td>
                    <td>
                        Allison Septimus
                    </td>
                    <td>
                        245-567-3498
                    </td>
                    <td>Safety Off</td>
                    <td><span class="table_menu__btn"></span></td>
                </tr>
                <tr>
                    <td>
                        <p>Gambrill Gardens</p>
                        <p>NJ, Camden, 1605 Whiteman Street  45884</p>
                    </td>
                    <td>
                        Illinois  
                    </td>
                    <td>
                        Allison Septimus
                    </td>
                    <td>
                        245-567-3498
                    </td>
                    <td>Safety Off</td>
                    <td><span class="table_menu__btn"></span></td>
                </tr>

            </tbody>
            <tfoot>
                <tr >
                    <td class="tbl__footer">
                    </td>
                </tr>
            </tfoot>
        </table>    
    </div>
</ng-container>
