/*
  Base button
*/
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 8px;
    padding: 6px 16px;
    border: none;
    border-radius: 4px;
    font-weight: 500; 
    cursor: pointer;
}

/*
  Buttons due to sizes
*/

.btn-L {
    height: 48px;
    font-size: var(--body-big-font-size);
    letter-spacing: 0.54px;
}

.btn-M {
    height: 40px;
    font-size: var(--body-font-size);
    letter-spacing: 0.48px;
}

.btn-S {
    height: 36px;
    font-size: var(--body-font-size);
    letter-spacing: 0.48px;
}

.btn-XS {
    height: 30px;
    font-size: var(--body-details-font-size);
    letter-spacing: 0.42px;
}

/*
  Buttons due to types
*/
.btn-primary {
    background: var(--primary-400-color);
    color: var(--white-color);

    &:hover {
        border-radius: 4px;
        background: var(--primary-300-color);
        box-shadow: 0px 5px 5px -3px rgba(127, 143, 164, 0.20), 0px 3px 14px 2px rgba(127, 143, 164, 0.12);
    }
    &:disabled {
        background: var(--disable-color);
    }
}

// --btn-primary for message pop-ups--
.btn-primary-shadow {
    background: var(--primary-400-color);
    color: var(--white-color);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);

    &:hover {
        border-radius: 4px;
        background: var(--primary-300-color);
        box-shadow: 0px 5px 5px -3px rgba(127, 143, 164, 0.20), 0px 3px 14px 2px rgba(127, 143, 164, 0.12);
    }
    &:disabled {
        background: var(--disable-color);
    }
}


.btn-outline {
    color: var(--primary-400-color);
    background: var(--white-color);
    border: 1px solid var(--primary-400-color);
    
    &:hover {
        border: 1px solid var(--primary-300-color);
        box-shadow: 0px 5px 5px -3px rgba(127, 143, 164, 0.20), 0px 3px 14px 2px rgba(127, 143, 164, 0.12); 
    }
    &:disabled {
        color: var(--disable-color);
        border: var(--disable-color);
    }
}


.btn-secondary {
    background: var(--light-100-color);
    color: var(--primary-400-color);

    &:hover {
        border: 1px solid var(--primary-400-color);
    }
    &:disabled {
        background: var(--disable-color);
    }
}


.btn-link {
    background: transparent;
    color: var(--primary-400-color);

    &:hover {
        text-decoration-line: underline;
    }
    &:disabled {
        color: var(--light-200-color);
    }
}

