@mixin title-h1-bold($color) {
    color: $color;
    font-size: var(--h1-font-size);
    font-weight: 700;
}

@mixin title-h1-medium($color) {
    color: $color;
    font-size: var(--h1-font-size);
    font-weight: 500;
}

@mixin title-h2-bold($color) {
    color: $color;
    font-size: var(--h2-font-size);
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.48px;
}

@mixin title-h2-medium($color) {
    color: $color;
    font-size: var(--h2-font-size);
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.48px;
}

@mixin title-h3-bold($color) {
    color: $color;
    font-size: var(--h3-font-size);
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.44px;
}

@mixin subtitle-big-copy($color) {
    color: $color;
    font-size: var(--subtitle-font-size);
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.4px;
}

@mixin uppercase-medium($color) {
    color: $color;
    font-size: var(--body-big-font-size);
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.36px;
    text-transform: uppercase;
}

@mixin body-big-bold($color) {
    color: $color;
    font-size: var(--body-big-font-size);
    font-weight: 700;
}

@mixin body-big-medium($color) {
    color: $color;
    font-size: var(--body-big-font-size);
    font-weight: 500;
}

@mixin body-big-regular($color) {
    color: $color;
    font-size: var(--body-big-font-size);
    font-weight: 400;
    line-height: 140%;
}

@mixin body-bold($color) {
    color: $color;
    font-size: var(--body-font-size);
    font-weight: 700;
}

@mixin body-medium($color) {
    color: $color;
    font-size: var(--body-font-size);
    font-weight: 500;
}

@mixin body-regular($color) {
    color: $color;
    font-size: var(--body-font-size);
    font-weight: 400;
    line-height: 140%;
}

@mixin body-details-semibold($color) {
    color: $color;
    font-size: var(--body-details-font-size);
    font-weight: 600;
    letter-spacing: 0.42px;
}

@mixin body-details-medium($color) {
    color: $color;
    font-size: var(--body-details-font-size);
    font-weight: 500;
    letter-spacing: 0.42px;
}

@mixin body-details-regular($color) {
    color: $color;
    font-size: var(--body-details-font-size);
    font-weight: 400;
    letter-spacing: 0.42px;
}

@mixin button-L($color) {
    color: $color;
    font-size: var(--body-big-font-size);
    font-weight: 500;
    letter-spacing: 0.54px;
}

@mixin button-MS($color) {
    color: $color;
    font-size: var(--body-font-size);
    font-weight: 500;
    letter-spacing: 0.48px;
}

@mixin button-XS($color) {
    color: $color;
    font-size: var(--body-details-font-size);
    font-weight: 500;
    letter-spacing: 0.42px;
}