<header class="header">
    <div class="container">

        <div class="header_logo">
            <img src="/assets/images/AmityLogo.svg" alt="logo">
        </div>
        <nav class="header_navigation">
            <ul class="header_navigation__list">
                <li>
                    <a href="" class="btn btn-xs">
                        Communities
                    </a>
                </li>
                <li>
                    <a href="" class="btn btn-xs">
                        Members
                    </a>
                </li>
                <li>
                    <a href="" class="btn btn-xs">
                        Buildings
                    </a>
                </li>
            </ul>
        </nav>
        <app-user-avatar></app-user-avatar>
    </div>
</header>