@import "../../styles/components/typography";

.user-avatar {
    padding: 16px 8px;
    width: 248px;

    display: flex;
    align-items: center;

    &::after{
        content: "\e90f";
        font-family: 'icomoon';
        font-size: 1em;
        color: var(--primary-400-color);
        display: block;

        margin-left: auto;
    }


    &_image-picture {
        width: 32px;
        height: 32px;
        border-radius: 50%;

        object-fit: cover;
        overflow: hidden;

        margin-right: 8px;

        &__photo {
            height: 100%;
        }
    }

    &_name {
        @include body-details-semibold(var(--dark-color));
    }

    &_role {
        @include body-details-regular(var(--body-text-color));
    }
}

.emptyPhoto{
    background: var(--light-100-color);
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--light-300-color);
    font-size: 16px;
    font-weight: 700;
}