@import '/src/styles/components/typography';

.user-avatar {
    padding: 12px 8px 12px;
    width: 248px;

    &_short-info {
        display: flex;
        align-items: center;
    }

    &_image-picture {
        width: 32px;
        height: 32px;
        border-radius: 50%;

        object-fit: cover;
        overflow: hidden;

        margin-right: 8px;

        &__photo {
            height: 100%;
        }
    }

    &_name {
        @include body-details-semibold(var(--dark-color));
    }

    &_role {
        @include body-details-regular(var(--body-text-color));
    }

    &_show-more-btn {
        margin-left: auto;
        transform: rotate(180deg);

        &::after{
            content: "\e90f";
            font-family: 'icomoon';
            font-size: 1em;
            color: var(--primary-400-color);
            display: block;
        }
    }

    &_additional-info{
        padding-left: 8px;
        padding-right: 8px;

        @include body-details-semibold(#7A7C7E);

        &__profile-btn{
            display: block;
            margin: 12px auto 8px;
        }

        &__email-wrapper{
            padding: 8px 12px;
            border-top: 1px solid var(--light-100-color);
            border-bottom: 1px solid var(--light-100-color);
        
            margin-bottom: 8px;
        }

        &__email {
            @include body-regular(var(--dark-color));
        }

        &__signout-btn {
            margin: 0 auto;
        }
    }
}

.emptyPhoto {
    background: var(--light-100-color);
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--light-300-color);
    font-size: 16px;
    font-weight: 700;
}

.fullInformation {
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    background-color: #ffffff;

    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.closeBtn{
    transform: rotate(0deg);
}
