<form class="form" [formGroup]="form" (ngSubmit)="signIn()">
    <h1 class="form_title">Sign In</h1>

    <div class="form_content">

        <div class="form_content_inputs">

            <div class="form_content_inputs__control">
                <label class="input_label"
                       [ngClass]="form.get('email')?.touched && form.get('email')?.invalid ? 'input_label_invalid' : 'input_label'">
                       Email
                </label>
                <input class="input" 
                       [ngClass]="{input_invalid: form.get('email')?.touched && form.get('email')?.invalid}"
                       type="email" 
                       formControlName="email">
                <app-error-message *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
                                   errorMessage="This Email does not appear to be valid.">
                </app-error-message>   
            </div>

            <div class="form_content_inputs__control">
                <label class="input_label"
                       [ngClass]="form.get('password')?.touched && form.get('password')?.invalid ? 'input_label_invalid' : 'input_label'">
                       Password
                </label>
                <div class="input_password-container">
                    <input class="input" 
                        [ngClass]="{input_invalid: form.get('password')?.touched && form.get('password')?.invalid}"
                        [type]="isShowPassword ? 'text' : 'password'" 
                        formControlName="password">
                    <app-show-password-eye [(isShowPassword)]="isShowPassword"></app-show-password-eye>
                </div>
            </div>

            <div class="form_content_inputs__settings">
                <div class="form_content_inputs__settings__checkbox-container">

                    <div class="checkbox-container">
                        <input class="checkbox" type="checkbox" formControlName="rememberUser">
                        <div class="checkmark"></div>
                    </div>

                    <label for="remember">Remember me</label>
                </div>
                <a class="form_content_inputs__settings__forgot">Forgot a password?</a>
            </div>

        </div>

        <button class="btn btn-primary btn-L form_btn"
                type="submit"
                [disabled]="form.invalid">
                Sign In
        </button>
    </div>
</form>

