@import "../../../styles/components/typography.scss";
// @import url("../../../styles/components/typography.scss");

// .container{
// }
.members{
    padding-top: 32px;
    &_tools {
        display: flex;
        align-items: center;

        &__search{
            margin-left: auto;
            display: flex;
            align-items: center;

            button {
                color: var(--primary-400-color);
                margin-right: 16px;
            }
        }
    }
}
h1 {
    @include title-h2-bold(var(--body-text-color));
    margin-right: 20px;
}
.member-create__btn {

    span {
        &::before {
            content: "\e902";
            font-size: 1rem;
            font-family: icomoon;
            color: var(--white-color);
        }
    }
}
table {
    thead {
        .arrow {
            &::after {
                content: "\e905";
                font-size: 1rem;
                font-family: icomoon;
                color: var(--primary-400-color);
                margin-left: 12px;
                
            }
        }
    }
    tbody {
        tr {
            td {
                &:first-child {
                    @include body-medium(var(--dark-color))
                }
            }
        }
    }
}

.table_menu__btn::before{
    padding: 8px 16px;
    content: "\e913";
    display: block;
    font-size: 1rem;
    font-family: icomoon;

}

.user-avatar_image-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;

    object-fit: cover;
    overflow: hidden;

    margin-right: 8px;

    &__photo {
        height: 100%;
    }

}

