.Main-login-page {
    display: flex;
    border-color: #F9F9F9;

    &_content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65%;
    }

    &_img {
        height: 100vh;
    }

    &_logo {
        position: absolute;
        top: 20px;
        left: 82px;
    }
}